@use '../../styles/variables.scss' as v;

.ReposResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  gap: 1.5rem;

  &__card {
    background-color: v.$color-primary;
    display: flex; /* Mettez les cartes en ligne */
    flex-direction: column; /* Vous pouvez retirer cette ligne si vous ne souhaitez pas que le contenu à l'intérieur des cartes soit en colonne */
    width: 28%;
  }

  &-information {
    width: 100px;
  }
}
